.reepay_subscription_pricing .wrap input, .reepay_subscription_fee .wrap input, .reepay_subscription_pricing .wrap select, .reepay_subscription_fee .wrap select{
    width: 24.75% !important;
    margin-right: 3.8%;
}

.reepay_subscription_pricing .advanced-fields .wrap input{
    width: 45% !important;
}
.variable_pricing .reepay_subscription_choose label{
    margin-right: 20px;
    vertical-align: baseline;
}